html { 
  background: url(images/sea.jpg) no-repeat center center fixed ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "SmallCaps";
  font-size: 1.1em;
  }