div._body{
	border: solid 2px blue;
	position: absolute;
	top: 10px;
	left: 16%;
	width: 800px;
	height: 700px;
}
div.div_top{
	/*border: solid 2px blue;*/
	position: absolute;
	top: 10px;
	left: 8px;
	width: 780px;
	height: 150px;

}
div.form_user_error{
	text-align: center;
}
div.div_logo{
	/*border: solid 2px blue;*/
	position: absolute;
	top: 10px;
	left: 8px;
	width: 130px;
	height: 130px;
}
div.div_menu{
	/*border: solid 2px blue;*/
	position: absolute;
	top: 10px;
	left: 170px;
	width: 600px;
	height: 50px;
}
div.div_menu_prop{

}
div.div_content{
	border: solid 2px blue;
	position: absolute;
	top: 180px;
	left: 8px;
	width: 780px;
	height: 500px;
}
div.div_form_add_user{

}
td.tb_ob_1{
	border: solid 2px red;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 755px;
	height: 150px;

}
td.tb_ob_2{
	border: solid 2px red;
	position: absolute;
	top: 170px;
	left: 10px;
	width: 755px;
	height: 150px;
}
td.tb_ob_3{
	border: solid 2px red;
	position: absolute;
	top: 330px;
	left: 10px;
	width: 755px;
	height: 150px;
}
.active {
    background-color: red;
}

/*asta face ca atunci cand duci mouse pe el sa isi schimbe culoarea.*/
li a:hover {
    background-color: #0066FF;
    /*aici face sa apara border yellow frumos deasupra butonului care ducem mousele*/
    /*border-top: solid 5px yellow;*/
}

/*aici este numele Logheazate-din h1*/
h1{
	text-align: center;
}

/*asta face sa bara de meniu sa fie orizontala*/
li {
    float: left;
}
/*asta ii da proprietati la bara de meniu cum sa arete*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    /*border-top: solid 5px lightblue;*/
}
/*si asta ii da proprietati cum sa arete bara*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*border-top: solid 5px pink;*/
}
/* Style for form add_prop*/



/**/
div.left_side{
	float: left;
	margin: 20px 20px;
}
div.right_side{
	float: right;
	margin: 20px 20px;
}

div.img_prop_show{
	
	top: 10px;
	right: 10px;
	float: right;
}
div.desciere_prop{
	float: left;
}