.login {
    width: 300px;
    height: 285px;
    overflow: hidden;
    background: rgb(96, 143, 159);
    border-radius: 6px;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}
.login .titlu {
    width: 298px;
    height: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 15px;
    text-align: center;
    color: #bfbfbf;
    font-weight: bold;
    background: rgb(0, 119, 159);
    border: #4d727f solid 1px;
    margin-bottom: 30px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: Arial;
}

.login form {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
body {
	background: rgb(207, 221, 226);
}
input {
    padding:5px; 
    border:#4d727f solid 2px; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input:focus {
    border-color:#4d727f;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-weight: bold;
    color:rgb(96, 143, 159);
}
.login p.remember_me label {
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
}

/*home.php style*/

.hello {
  width: 240px;
    height: auto;
    overflow: hidden;
     padding:5px 15px; 
     border:#4d727f solid 2px;
    }